<?xml version="1.0" encoding="UTF-8"?>
<configuration>


  <property name="ENABLE_JSON_LOGGING" value="${ENABLE_JSON_LOGGING:-false}" />

  <if condition='property("ENABLE_JSON_LOGGING").contains("true")'>
    <then>
      <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
          <serviceName>eccjava</serviceName>
        </encoder>
      </appender>

      <root level="INFO">
        <appender-ref ref="STDOUT"/>
      </root>

    </then>
    <else>
      <include resource="org/springframework/boot/logging/logback/defaults.xml" />
      <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
      <root level="INFO">
        <appender-ref ref="CONSOLE" />
      </root>
      <logger name="org.springframework.web" level="DEBUG"/>
    </else>
  </if>


</configuration>